<a href="https://colab.research.google.com/github/RodjonSobiani/ml_learning/blob/main/Laboratory_work_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [63]:
data = pd.read_csv('/content/drive/MyDrive/CSV/Non-residential outliers.csv').drop(columns=['Series_title_3', 'Series_title_4', 'Series_title_5']).set_index(['Period'])
data.head()

,Series_reference,Data_value,Suppressed,Status,Units,Magnitude,Subject,Group,Series_title_1,Series_title_2
Period,,,,,,,,,,
1990.01,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.02,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.03,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.04,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.05,BLDM.SLE2,45000000,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value

In [19]:
data.head(10)

,Series_reference,Data_value,Suppressed,Status,Units,Magnitude,Subject,Group,Series_title_1,Series_title_2
Period,,,,,,,,,,
1990.01,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.02,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.03,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.04,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.05,BLDM.SLE2,45000000,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.06,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.07,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.08,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.09,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1990.10,BLDM.SLE2,25734285,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value

In [20]:
data.tail()

,Series_reference,Data_value,Suppressed,Status,Units,Magnitude,Subject,Group,Series_title_1,Series_title_2
Period,,,,,,,,,,
2021.12,BLDM.SXC,0,n,F,Dollars,0,Building Consents - BLD,Non-residential building outliers,$100 million and above,NaN
2022.01,BLDM.SXC,0,n,F,Dollars,0,Building Consents - BLD,Non-residential building outliers,$100 million and above,NaN
2022.02,BLDM.SXC,0,n,F,Dollars,0,Building Consents - BLD,Non-residential building outliers,$100 million and above,NaN
2022.03,BLDM.SXC,0,n,F,Dollars,0,Building Consents - BLD,Non-residential building outliers,$100 million and above,NaN
2022.04,BLDM.SXC,0,n,F,Dollars,0,Building Consents - BLD,Non-residential building outliers,$100 million and above,NaN

In [21]:
data.describe()

         Data_value  Magnitude
count  8.600000e+02      860.0
mean   1.477151e+07        0.0
std    3.778688e+07        0.0
min    0.000000e+00        0.0
25%    0.000000e+00        0.0
50%    0.000000e+00        0.0
75%    0.000000e+00        0.0
max    3.400237e+08        0.0

In [22]:
data.dtypes

Series_reference    object
Data_value           int64
Suppressed          object
Status              object
Units               object
Magnitude            int64
Subject             object
Group               object
Series_title_1      object
Series_title_2      object
dtype: object

In [23]:
data.shape

(860, 10)

In [24]:
data.size

8600

In [34]:
data.groupby('Period').aggregate({'Data_value':'mean'}).head(10)

         Data_value
Period
1990.01         0.0
1990.02         0.0
1990.03         0.0
1990.04         0.0
1990.05  22500000.0
1990.06         0.0
1990.07         0.0
1990.08         0.0
1990.09         0.0
1990.10  12867142.5

In [37]:
data.iloc[0:7,0:3]

        Series_reference  Data_value Suppressed
Period
1990.01        BLDM.SLE2           0          n
1990.02        BLDM.SLE2           0          n
1990.03        BLDM.SLE2           0          n
1990.04        BLDM.SLE2           0          n
1990.05        BLDM.SLE2    45000000          n
1990.06        BLDM.SLE2           0          n
1990.07        BLDM.SLE2           0          n

In [38]:
data.iloc[[0, 3, 5], [0, 3, -1]]

        Series_reference Status Series_title_2
Period
1990.01        BLDM.SLE2      F          Value
1990.04        BLDM.SLE2      F          Value
1990.06        BLDM.SLE2      F          Value

In [39]:
data.iloc[:,-3:-1].head()

,Group,Series_title_1
Period,,
1990.01,Non-residential buildings $25m and over (Disc ...,Large non-residential
1990.02,Non-residential buildings $25m and over (Disc ...,Large non-residential
1990.03,Non-residential buildings $25m and over (Disc ...,Large non-residential
1990.04,Non-residential buildings $25m and over (Disc ...,Large non-residential
1990.05,Non-residential buildings $25m and over (Disc ...,Large non-residential

In [41]:
type(data.iloc[:,-3:-1])

pandas.core.frame.DataFrame

In [48]:
data.iloc[:,1].head()

Period
1990.01           0
1990.02           0
1990.03           0
1990.04           0
1990.05    45000000
Name: Data_value, dtype: int64

In [50]:
type(data.iloc[:,0])

pandas.core.series.Series

In [51]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [52]:
my_series_1 = pd.Series([1, 2, 3], index=['Tom', 'Tim', 'Sam'])
my_series_1

Tom    1
Tim    2
Sam    3
dtype: int64

In [53]:
my_series_2 = pd.Series([4, 5, 6], index=['Tom', 'Tim', 'Sam'])
my_series_2

Tom    4
Tim    5
Sam    6
dtype: int64

In [54]:
pd.DataFrame({'col_1':my_series_1, 'col_2':my_series_2})

     col_1  col_2
Tom      1      4
Tim      2      5
Sam      3      6

In [57]:
type(data['Units'])

pandas.core.series.Series

In [58]:
type(data[['Units']])

pandas.core.frame.DataFrame

In [ ]:
# Convert float64index to Integer
data.index = data.index.astype(int)
data.index = pd.to_datetime(data.index, yearfirst=True)
data.index = data.index.year

# data.index = data.index.map(lambda x : int(x))

In [90]:
data.head(10)

,Series_reference,Data_value,Suppressed,Status,Units,Magnitude,Subject,Group,Series_title_1,Series_title_2
Period,,,,,,,,,,
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,45000000,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,0,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value
1970,BLDM.SLE2,25734285,n,F,value,0,Building Consents - BLD,Non-residential buildings $25m and over (Disc ...,Large non-residential,Value